html, body {
  height: 100%;
}

.flex-grid {
  display: flex;
  height: 80%;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 10px 0;
  margin: 5px 10px;
  height: 100%;
  border-radius: 10px;
}

.item {
  width: 55%;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  transition: all 0.15s ease;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.box {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin-left: 10px;
  text-align: center;
  padding: 5px;
}

.box-text {
  margin-left: 10px;
}

.playing {
  transform: scale(1.1);
  border-color: red;
  box-shadow: 0 0 1rem red;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}