html,
body {
  height: 100%;
  background: #e1e2e1;
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0.5rem;
}

.title,
.subtitle {
  text-align: center;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.flex-grid {
  display: flex;
  height: 80%;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #222;
  padding: 0 1rem 2rem;
  margin: 5px 10px;
  border-radius: 10px;
  background: #fafafa;
  max-width: 600px;
}

.audio-keybinding-container {
  width: 250px;
  height: 60px;
  border: 1px solid #222;
  display: flex;
  align-items: center;
  transition: all 0.15s ease;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  padding: 4px;
  font-weight: bold;
}

.audio-keybinding-container:hover {
  background: #4ffb80;
}

.key-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border: 1px solid #222;
  margin-left: 10px;
  text-align: center;
  padding: 5px;
  background: #fb4f4f;
  border-radius: 5px;
  color: #fdfdfd;
}

.box-text {
  margin-left: 10px;
}

.playing {
  transform: scale(1.1);
  border-color: #fb4f4f;
  box-shadow: 0 0 1rem #fb4f4f;
}

@media (max-width: 1024px) {
  .flex-grid {
    display: block;
  }
  .col {
    margin: 2rem auto;
  }
}

.key-binding-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fdfdfd;
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid #222;
  display: none;
}

.key-binding-modal.open {
  display: block;
}
